.TitleSection {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2%;
}

.MainTitle {
  display: inline;
  margin-left: 5%;
  color: #010101;
}

.ToggleDark:hover {
  transition: all 0.5s;
  color: #010101;
}

.MenuButton {
  display: block;
  margin: auto;
  margin-left: auto;
  margin-right: 5%;
  width: 17px;
  height: 11px;
  color: #010101;
  cursor: pointer;
}
