.dragstart {
    opacity: 0.5;
    outline: 1px solid #0075DE;
}

dragging > * {
    transform: scale(1.05);
    box-shadow: 0 3px 15px rgb(224 224 224 / 50%) !important;
}

toast {
    background-color: #262626;
    border-radius: 2em;
    color: white;
    text-align: center;
    padding: 1em;
    line-height: 1em;
    position: fixed;
    bottom: 3em;
    height: 1em;
    width: 10em;
    left: calc(50% - 5em);
}